body{
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}
.has-badge{
    margin: 10px;
    font-size: 25px;
    z-index: 100;
}


.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:8px;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:#000000;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
  z-index: 100;
}
.fa-circle {
  color:#000000;
}

.red-cart {
	color: white; 
	background:#000000;
}
@media (max-width: 680px) {
    .app{
        flex-direction: column;
    }
}